a .value, td, th {
  font-size: 0.5rem;
}

.cryostat-img {
    width: 100%;
}
.inside_table__big_cell{
  text-align: center; 
  vertical-align: middle;
}


/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
@media screen and (min-width: 460px) {
  a .value, td, th {
  font-size: 1.1rem;
}
}
@media screen and (min-width: 768px) {
  a .value, td, th {
  font-size: 1.4rem;
}
}
@media screen and (min-width: 1400px) {
  a .value, td, th {
  font-size: 1.6rem;
}
}