body {
  height: 100%;
  background-image: linear-gradient(to bottom right, #033463, rgb(28 44 56));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.table_header,
.table_text {
  font-family: "Arial Black", Gadget, sans-serif;
  color: azure;
}
.ambient-content {
  border: 1px solid white;
  padding: 5px 6px;
  text-align: right;
}
.page_title_and_timestamps {
  padding-bottom: 50px;
}
@media screen and (max-width: 479px) {
  .table_header {
    font-size: 12px;
  }
  .table_text {
    font-size: 8px;
    line-height: 130%;
  }
  .page-title {
    color: white;
    max-width: 145px;
  }
  .cryostat-img {
    display: block;
    height: 140px;
    margin-left: -5px;
  }
  .cryostat-img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33vh;
  }
  .ambient {
    position: absolute;
    right: 4vw;
    top: 90vh;
    padding-bottom: 50px;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    display: flex;
    justify-content: right;
    width: 90vw;
    transition: all 0.2s;
  }

  .penetration-pipe1 {
    position: absolute;
    left: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe2 {
    position: absolute;
    right: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe3 {
    position: absolute;
    right: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe4 {
    position: absolute;
    left: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .bottom {
    position: absolute;
    left: 4vw;
    width: 92vw;
    top: 75vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    transition: all 0.2s;
  }
  .data-container--large {
    position: fixed !important;
    display: flex;
    align-items: center;
    left: 0 !important;
    top: 0 !important;
    justify-content: center;
    width: 99vw;
    height: 105vh;
    z-index: 150;
    background-image: linear-gradient(to bottom right, #033463, rgb(28 44 56));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .data-container--large .table_header {
    font-size: 38px;
  }
  .bottom.data-container--large .table_header {
    font-size: 32px;
  }
  .bottom.data-container--large .table_text {
    font-size: 12px;
  }
  th {
    font-size: 12px;
    text-align: center;
  }
  .data-container--large.ambient,
  .data-container--large.bottom {
    font-size: 18px;
    width: 99vw;
    height: 105vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .data-container--large .table_text,
  .data-container--large span,
  .data-container--large a span.value {
    font-size: 18px;
    line-height: 115%;
  }
}
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .table_header {
    font-size: 14px;
  }
  .table_text {
    font-size: 10px;
    line-height: 125%;
  }
  .page-title {
    color: white;
  }
  .cryostat-img {
    display: block;
    height: 240px;
    margin-left: -5px;
  }
  .cryostat-img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33vh;
  }
  .ambient {
    position: absolute;
    right: 4vw;
    top: 90vh;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 12px;
    display: flex;
    justify-content: right;
    width: 90vw;
    transition: all 0.2s;
    padding-bottom: 50px;
  }
  .penetration-pipe1 {
    position: absolute;
    left: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe2 {
    position: absolute;
    right: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .penetration-pipe3 {
    position: absolute;
    right: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .penetration-pipe4 {
    position: absolute;
    left: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .bottom {
    position: absolute;
    left: 4vw;
    top: 75vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    transition: all 0.2s;
  }

  .data-container--large {
    position: fixed !important;
    display: flex;
    align-items: center;
    left: 0 !important;
    top: 0 !important;
    justify-content: center;
    width: 99vw;
    height: 105vh;
    z-index: 11;
    background-image: linear-gradient(to bottom right, #033463, rgb(28 44 56));
    background-repeat: no-repeat;
  }
  .data-container--large .table_header {
    font-size: 38px;
  }
  .bottom.data-container--large .table_header {
    font-size: 32px;
  }
  .bottom.data-container--large .table_text {
    font-size: 12px;
  }
  .data-container--large.ambient,
  .data-container--large.bottom {
    font-size: 18px;
    width: 99vw;
    height: 105vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .data-container--large .table_text,
  .data-container--large span,
  .data-container--large a span.value {
    font-size: 18px;
    line-height: 115%;
  }
}
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .table_header {
    font-size: 18px;
  }
  .table_text {
    font-size: 14px;
    line-height: 125%;
  }
  .page-title {
    color: white;
  }
  .cryostat-img {
    display: block;
    height: 280px;
    margin-left: -5px;
  }
  .cryostat-img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 33vh;
  }
  .ambient {
    position: absolute;
    right: 4vw;
    top: 95vh;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: right;
    width: 90vw;
    transition: all 0.2s;
  }
  .penetration-pipe1 {
    position: absolute;
    left: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe2 {
    position: absolute;
    right: 4vw;
    top: 18vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe3 {
    position: absolute;
    right: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe4 {
    position: absolute;
    left: 4vw;
    top: 58vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .bottom {
    position: absolute;
    left: 4vw;
    top: 80vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    transition: all 0.2s;
  }
  .data-container--large {
    position: fixed !important;
    display: flex;
    align-items: center;
    left: 0 !important;
    top: 0 !important;
    justify-content: center;
    width: 99vw;
    height: 105vh;
    z-index: 11;
    background-image: linear-gradient(to bottom right, #033463, rgb(28 44 56));
    background-repeat: no-repeat;
  }
  .data-container--large .table_header {
    font-size: 72px;
  }
  .bottom.data-container--large .table_header {
    font-size: 72px;
  }
  .bottom.data-container--large .table_text {
    font-size: 32px;
  }
  th {
    font-size: 20px;
    text-align: center;
  }

  .data-container--large.ambient,
  .data-container--large.bottom {
    font-size: 32px;
    width: 100vw;
    height: 105vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .data-container--large .table_text,
  .data-container--large span,
  .data-container--large a span.value {
    font-size: 34px;
    line-height: 115%;
  }
}
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .table_header {
    font-size: 22px;
  }
  .table_text {
    font-size: 16px;
    line-height: 125%;
  }
  .page-title {
    color: white;
  }
  .cryostat-img {
    display: block;
    height: 350px;
    margin-left: 25px;
  }
  .cryostat-img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 28vh;
  }
  .ambient {
    position: absolute;
    right: 4vw;
    top: 90vh;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: right;
    width: 90vw;
    transition: all 0.2s;
  }
  .penetration-pipe1 {
    position: absolute;
    left: 4vw;
    top: 12vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe2 {
    position: absolute;
    right: 4vw;
    top: 12vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe3 {
    position: absolute;
    right: 4vw;
    top: 45vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .penetration-pipe4 {
    position: absolute;
    left: 4vw;
    top: 45vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }
  .bottom {
    position: absolute;
    left: 4vw;
    top: 72vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    transition: all 0.2s;
  }
  .data-container--large {
    position: fixed !important;
    display: flex;
    align-items: center;
    left: 0 !important;
    top: 0 !important;
    justify-content: center;
    width: 99vw;
    height: 105vh;
    z-index: 11;
    background-image: linear-gradient(to bottom right, #033463, rgb(28 44 56));
    background-repeat: no-repeat;
  }
  .data-container--large .table_header {
    font-size: 72px;
  }
  .bottom.data-container--large .table_header {
    font-size: 72px;
  }
  .bottom.data-container--large .table_text {
    font-size: 32px;
  }
  .data-container--large.ambient,
  .data-container--large.bottom {
    font-size: 34px;
    width: 100vw;
    height: 105vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .data-container--large .table_text,
  .data-container--large span,
  .data-container--large a span.value {
    font-size: 34px;
    line-height: 115%;
  }
}
/* *********************************************************** */
/* *********************************************************** */
/* *********************************************************** */
@media screen and (min-width: 1200px) {
  .table_header {
    font-size: 22px;
  }
  .table_text {
    font-size: 16px;
    line-height: 125%;
  }
  .page-title {
    color: white;
  }

  .cryostat-img {
    display: block;
    height: 375px;
    margin-left: 30px;
  }

  .cryostat-img-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 31vh;
  }

  .ambient {
    position: absolute;
    right: 4vw;
    top: 90vh;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 28px;
    display: flex;
    justify-content: right;
    width: 90vw;
    transition: all 0.2s;
  }
  .penetration-pipe1 {
    position: absolute;
    left: 4vw;
    top: 12vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .penetration-pipe2 {
    position: absolute;
    right: 4vw;
    top: 12vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .penetration-pipe3 {
    position: absolute;
    right: 4vw;
    top: 45vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .penetration-pipe4 {
    position: absolute;
    left: 4vw;
    top: 45vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    transition: all 0.2s;
  }

  .bottom {
    position: absolute;
    left: 4vw;
    top: 75vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    transition: all 0.2s;
  }
}
