<link rel="stylesheet" href="css/groundplanes.css">
<header class="container page_header">
  <div class="row">
    <div class="col page-title">{{$ctrl.pageTitle}}</div>
    <div class="col timestamp_label">
      <div class="row">
        <div class="col">Timestamp</div>
      </div>
      <div class="row">
        <div class="col">
          <span id="timestamp" class="timestamp"
            >{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 histogram__buttons_caption d-flex justify-content-center">
      History For
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[0]}" ng-click="$ctrl.dayChanger('0-1', 0)">
        <span class="spinner-border spinner-border-sm " ng-class="{'hidden':!buttonIsLodaing[0]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[0]">1 hour</span>
      </button>
    </div>
    <div class="col-auto pt-2"> 
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[1]}" ng-click="$ctrl.dayChanger('0-6', 1)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[1]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[1]">6 hours</span>
      </button>
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[2]}" ng-click="$ctrl.dayChanger('0-12', 2)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[2]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[2]">12 hours</span>
      </button>
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[3]}" ng-click="$ctrl.dayChanger('1-0', 3)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[3]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[3]">1 day</span>      
      </button>
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[4]}" ng-click="$ctrl.dayChanger('3-0', 4)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[4]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[4]">3 days</span>
      </button>
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[5]}" ng-click="$ctrl.dayChanger('7-0', 5)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[5]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[5]">7 days</span>
      </button>
    </div>
    <div class="col-auto pt-2">
      <button type="button" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[6]}" ng-click="$ctrl.dayChanger('10-0', 6)">
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!buttonIsLodaing[6]}" aria-hidden="true"></span>
        <span ng-if="!buttonIsLodaing[6]">10 days</span>
      </button>
    </div>
  </div>
  <div class="row justify-content-center pb-2">
    <div class="col-auto pt-2">
      <form action="" class="navbar__time_input_form">
        <input class="navbar__time_input" type="number" min="1" ng-model="$ctrl.dd" placeholder="Days" />
        <button
        type="submit"
          class="btn btn-dark histogram__button"  
          ng-click="$ctrl.setDays($event)"
          ng-class="{'btn-outline-light':requestsList[7]}"
        >
        <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!setDaysBtnLoading}" aria-hidden="true"></span>
        <span ng-if="!setDaysBtnLoading">Go</span>
          
        </button>
      </form>
    </div>
    <div class="col-auto pt-2 d-flex justify-content-center">
      <form action="" class="navbar__range_input_form">
        <input
          type="date"
          ng-model="$ctrl.start"
          placeholder="dd-mm-yyyy"
          class="histogram__range_input"
        />
        <div class="navbar__range_input_end">
          <input
            type="date"
            ng-model="$ctrl.end"
            placeholder="dd-mm-yyyy"
            class="histogram__range_input"
          />
          <button type="submit" class="btn btn-dark histogram__button" ng-class="{'btn-outline-light':requestsList[8]}" ng-click="$ctrl.range($event, $ctrl.start, $ctrl.end)" >
            <span class="spinner-border spinner-border-sm" ng-class="{'hidden':!rangeBtnLoading}" aria-hidden="true"></span>
            <span ng-if="!rangeBtnLoading">Go</span>
           </button>
        </div>
      </form>
    </div>
  </div>  
  
  </div>
  <div class="charts_container">
    <div id="container0" class="chart_container">Placeholder for chart</div>
    <div id="container1" class="chart_container">Placeholder for chart</div>
</div>
<div class="data_table_container">
  <div class="data_table table_text">
      <div class="data_table__column">
          <div class="data_table__cell">Current (Measured): <a target="_blank" ng-href="#!/histogram/47363557163291"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_I | number: 5}} &#181;A</span></a></div>
          <div class="data_table__cell">DCS Current limit: <a target="_blank" ng-href="#!/histogram/47363590717723"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_Limit | number: 5}} &#181;A</span></a></div>
          <div class="data_table__cell">Voltage Raw: <a target="_blank" ng-href="#!/histogram/47363691381019"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_V_Raw | number: 5}} V</span></a></div>
          <div class="data_table__cell">Heinzinger On/Off status: <a target="_blank" ng-href="#!/histogram/47363607494939"><span class="value">{{ $ctrl.NP02_DCS_01_Heinz_OnOff_Sts?"On":"Off" }}</span></a></div>
          <div class="data_table__cell">FFS Current: <a target="_blank" ng-href="#!/histogram/47955658727963"><span class="value">{{ $ctrl.NP02_DCS_01_FFS_I | number: 5}} &#181;A</span></a></div>
          <div class="data_table__cell">FFS Voltage: <a target="_blank" ng-href="#!/histogram/47955658729243"><span class="value">{{ $ctrl.NP02_DCS_01_FFS_V | number: 5}} V</span></a></div>
      </div>
      <div class="data_table__column">
          <div class="data_table__cell">Grid 1 Current: <a target="_blank" ng-href="#!/histogram/47955675505179"><span class="value">{{ $ctrl.NP02_DCS_01_GRID1_I | number: 1 }} &#181;A</span></a></div>
          <div class="data_table__cell">Grid 1 Voltage: <a target="_blank" ng-href="#!/histogram/47955675506459"><span class="value">{{ $ctrl.NP02_DCS_01_GRID1_V | number: 1 }} V</span></a></div>
          <div class="data_table__cell">Grid 2 Current: <a target="_blank" ng-href="#!/histogram/47955692282395"><span class="value">{{ $ctrl.NP02_DCS_01_GRID2_I | number: 1 }} &#181;A</span></a></div>
          <div class="data_table__cell">Grid 2 Voltage: <a target="_blank" ng-href="#!/histogram/47955692283675"><span class="value">{{ $ctrl.NP02_DCS_01_GRID2_V | number: 1 }} V</span></a></div>
          <div class="data_table__cell">Grid 3 Current: <a target="_blank" ng-href="#!/histogram/47955742614043"><span class="value">{{ $ctrl.NP02_DCS_01_GRID3_I | number: 1 }} &#181;A</span></a></div>
          <div class="data_table__cell">Grid 3 Voltage: <a target="_blank" ng-href="#!/histogram/47955742615323"><span class="value">{{ $ctrl.NP02_DCS_01_GRID3_V | number: 1 }} V</span></a></div>
          <div class="data_table__cell">Grid 4 Current: <a target="_blank" ng-href="#!/histogram/47955725836827"><span class="value">{{ $ctrl.NP02_DCS_01_GRID4_I | number: 1 }} &#181;A</span></a></div>
          <div class="data_table__cell">Grid 4 Voltage: <a target="_blank" ng-href="#!/histogram/47955725838107"><span class="value">{{ $ctrl.NP02_DCS_01_GRID4_V | number: 1 }} V</span></a></div>
      </div>
      <div class="data_table__column">
          <div class="data_table__cell">LEM CRP1 top MAX: <span class="value">{{ $ctrl.CRP1_top_max | number: 1 }} V</span></div>
          <div class="data_table__cell">LEM CRP1 bottom MAX: <span class="value">{{ $ctrl.CRP1_bottom_max | number: 1 }} V</span></div>
          <div class="data_table__cell">LEM CRP2 top MAX: <span class="value">{{ $ctrl.CRP2_top_max | number: 1 }} V</span></div>
          <div class="data_table__cell">LEM CRP2 bottom MAX: <span class="value">{{ $ctrl.CRP2_bottom_max | number: 1 }} V</span></div>
      </div>
  </div>
</div>
<footer class="container page_footer">
    <div class="row justify-content-end">
      <div class="col-10 col-sm-6 col-md-5 col-lg-4 col-xl-3">
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <td>Humidity</td>
              <td>
                <a target="_blank" href="#!/histogram/47910779640603">
                  <span class="value">{{ $ctrl.NP02_MHT0100AI | number: 1 }} %</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Ambient temperature</td>
              <td>
                <a target="_blank" href="#!/histogram/47910796417819">
                  <span class="value">{{ $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span>
                </a>
              </td>
            </tr>
            <tr>
              <td>Ambient pressure</td>
              <td>
                <a target="_blank" href="#!/histogram/47910813195035">
                  <span class="value">{{ $ctrl.NP02_PT0106AI | number: 1 }} mbar</span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</footer>
  