<link rel="stylesheet" href="css/pl506.css">
<div class="container">
    <div class="page_title_and_timestamps">
        <div id="pageTitle" class="page-title">{{$ctrl.pageTitle}}</div>

        <div id="timestamp_label" class="timestamp_label">Timestamp:<br/><span id="timestamp" class="timestamp">{{
                        $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>

    </div>

    <div id="status" class="status">
        <fieldset class="status_fieldset">
            <legend class="table_header">&nbsp;Status&nbsp;</legend>
            <span class="table_header">POWER:&nbsp;&nbsp;</span>
            <span class="value table_text">{{$ctrl.NP_VD_Wiener_NP04_PS_CE_06_Status_On}}</span>
        </fieldset>
    </div>
    <div class="channels_wrapper">
        <div class="channel0">
            <div>
                <fieldset class="channel0_fieldset">
                    <legend class="table_header">&nbsp;Channel0&nbsp;</legend>
                    <table>
                        <tr>
                            <td class="table_text">Power: <span class="value table_text">{{$ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel0_Status_On
                                                                        }}</span>
                            </td>
                        </tr>
                        <tr>

                            <td class="table_text">Sense Voltage: <a target="_blank"
                                                                     ng-href="#!/histogramvd/48205756650527"><span
                                    class="value table_text">{{
                                                                                $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel0_MeasurementSenseVoltage
                                                                                | number:
                                                                                4
                                                                                }} V</span></a></td>
                        </tr>
                        <tr>
                            <td class="table_text">Measurment Current: <a target="_blank"
                                                                          ng-href="#!/histogramvd/48205756650783"><span
                                    class="value table_text">{{
                                                                                $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel0_MeasurementCurrent
                                                                                | number: 14 }}
                                                                                A</span></a>
                            </td>
                        </tr>
                        <tr>
                            <td class="table_text">Measurment Temperature: <a target="_blank"
                                                                              ng-href="#!/histogramvd/555"><span
                                    class="value table_text">{{
                                                                                $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel0_MeasurementTemperature
                                                                                | number: 1 }}
                                                                                &#x2103</span></a>
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>


        </div>
        <div id="channel1">
            <fieldset class="channel1_fieldset">
                <legend class="table_header">&nbsp;Channel1&nbsp;</legend>
                <table>
                    <tr>
                        <td class="table_text">Power: <span class="value table_text">{{$ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel1_Status_On
                                                                }}</span>
                        </td>
                    </tr>
                    <tr>

                        <td class="table_text">Sense Voltage: <a target="_blank"
                                                                 ng-href="#!/histogramvd/48205773427743"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel1_MeasurementSenseVoltage
                                                                        | number:
                                                                        4
                                                                        }} V</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_text">Measurment Current: <a target="_blank"
                                                                      ng-href="#!/histogramvd/48205773427999"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel1_MeasurementCurrent
                                                                        | number: 14 }}
                                                                        A</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_text">Measurment Temperature: <a target="_blank"
                                                                          ng-href="#!/histogramvd/555"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel1_MeasurementTemperature
                                                                        | number: 1 }}
                                                                        &#x2103</span></a>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
        <div id="channel2">
            <fieldset class="channel2_fieldset">
                <legend class="table_header">&nbsp;Channel2&nbsp;</legend>
                <table>
                    <tr>
                        <td class="table_text">Power: <span class="value table_text">{{$ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel2_Status_On
                                                                }}</span>
                        </td>
                    </tr>
                    <tr>

                        <td class="table_text">Sense Voltage: <a target="_blank"
                                                                 ng-href="#!/histogramvd/48205790204959"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel2_MeasurementSenseVoltage
                                                                        | number:
                                                                        4
                                                                        }} V</span></a></td>
                    </tr>
                    <tr>
                        <td class="table_text">Measurment Current: <a target="_blank"
                                                                      ng-href="#!/histogramvd/48205790205215"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel2_MeasurementCurrent
                                                                        | number: 14 }}
                                                                        A</span></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="table_text">Measurment Temperature: <a target="_blank"
                                                                          ng-href="#!/histogramvd/48205790205471"><span
                                class="value table_text">{{
                                                                        $ctrl.NP_VD_Wiener_NP04_PS_CE_06_Channel2_MeasurementTemperature
                                                                        | number: 1 }}
                                                                        &#x2103</span></a>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>


    </div>

    <div id="ambient" class="ambient">
        <div class="ambient_content table_text">
            Humidity:<br/><a target="_blank" href="#!/cachedhist/47878785489690"><span class="value">{{
                $ctrl.NP02_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a
                target="_blank" href="#!/histogram/NP02_DCS_V21-CPC_AnalogInput-00008.ProcessInput.PosSt"><span
                class="value">{{
                $ctrl.NP02_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a
                target="_blank" href="#!/histogram/NP02_DCS_V21-CPC_AnalogInput-00009.ProcessInput.PosSt"><span
                class="value">{{
                $ctrl.NP02_PT0106AI | number: 1 }} mbar</span></a>
        </div>
    </div>
    <!-- <br /> -->
    <!-- <div id="days">
        <button id="1hour" type="button" ng-click="$ctrl.dayChanger(0.125)">1 hour</button>
        <button id="6hours" type="button" ng-click="$ctrl.dayChanger(0.33)">6 hours</button>
        <button id="12hours" type="button" ng-click="$ctrl.dayChanger(0.58)">12 hours</button>
        <button id="1day" type="button" ng-click="$ctrl.dayChanger(1.08)">1 day</button>
        <button id="3days" type="button" ng-click="$ctrl.dayChanger(3.08)">3 days</button>
        <button id="7days" type="button" ng-click="$ctrl.dayChanger(7.08)">7 days</button>
        <button id="10days" type="button" ng-click="$ctrl.dayChanger(10.08)">10 days</button>
    </div> -->
    <!-- <div id="container0">Placeholder for chart</div>
    <div id="container1">Placeholder for chart</div> -->
    <!-- This is all there is. -->

</div>
</div>